<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>魅族-智能手机官网</title>
	<link rel="stylesheet" href="assets/css/index.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_421348_k1kexfrl6gk3xr.css">
</head>
<body>
<div id="app">
	<!-- 轮播图 -->
	<div class="container-carousel">
		<ul class="carousel">
			<li class="car1"></li>
			<li class="car2"></li>
			<li class="car3"></li>
			<li class="car4"></li>
			<li class="car5"></li>
		</ul>
		<ol class="carousel-index">
			<li class="active"></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
	</div>
	<!-- 导航栏 -->
	<div class="container-banner">
		<div class="img">
			<img class="active" src="assets/images/logo-new.png" alt="">
			<img src="assets/images/logo-new2.png" alt="">
		</div>
		<ul class="header">
			<li class="noselect"><a href="">魅族商城</a></li>
			<li class="select"><a href="">魅族手机</a></li>
			<li class="select"><a href="">魅蓝手机</a></li>
			<li class="select"><a href="">魅族声学</a></li>
			<li class="select"><a href="">智能 . 配件</a></li>
			<li class="noselect"><a href="">服务</a></li>
			<li class="noselect"><a href="">专卖店</a></li>
			<li class="noselect"><a href="">Flyme</a></li>
			<li class="noselect"><a href="">社区</a></li>
			<li class="login noselect">
				<img src="assets/images/icon-user.png" alt="">
				<span></span>
				<ul class="login-content">
					<li><a href="form.html">立即登陆</a></li>
					<li><a href="form.html">立即注册</a></li>
					<li><a href="">我的订单</a></li>
					<li><a href="">M码通道</a></li>
				</ul>
			</li>
			<li class="noselect cart-logo">
				<img src="assets/images/shop-cart.png" height="22" width="22" alt="">
				<span>0</span>
				<p></p>
				<div class="cart-add">
					<img src="assets/images/index.png" alt="">
					
					<div>
						<p>登陆后可显示</p>
						<p>你账号中已加入的商品哦~</p>
					</div>
				</div>
			</li>
		</ul>
		<div class="run-detail">
			<div class="run-detail1">
				<div class="item">
					<ul v-for="goods in detail1">
						<li><a href="">
							<img :src="goods.img">
							<p class="p1">{{goods.type}}</p>
							<p class="p2">{{goods.price}}</p>
						</a></li>
					</ul>
				</div>
			</div>
			<div class="run-detail2">
				<div class="item active">
					<ul v-for="goods in detail2">
						<li><a href="">
							<img :src="goods.img">
							<p class="p1">{{ goods.type }}</p>
							<p class="p2">{{ goods.price }}</p>
						</a></li>
					</ul>
				</div>
			</div>
			<div class="run-detail3">
				<div class="item active">
					<ul v-for="goods in detail3">
						<li><a href="">
							<img :src="goods.img">
							<p class="p1">{{ goods.type }}</p>
							<p class="p2">{{ goods.price }}</p>
						</a></li>
					</ul>
				</div>
			</div>
			<div class="run-detail4">
				<div class="item active">
					<ul v-for="goods in detail4">
						<li><a href="">
							<img :src="goods.img">
							<p class="p1">{{ goods.type }}</p>
							<p class="p2">{{ goods.price }}</p>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="nav-header">
		<ul>
			<li><a href="">手机</a><i></i></li>
			<li><a href="">智能设备</a><i></i></li>
			<li><a href="">智能穿戴</a><i></i></li>
			<li><a href="">游戏设备</a><i></i></li>
			<li><a href="">数码影音</a><i></i></li>
			<li><a href="">手机配件/移动电源</a><i></i></li>
			<li><a href="">移动存储/办公设备</a><i></i></li>
			<li><a href="list.html">生活周边</a><i></i></li>
		</ul>
	</div>
	<div class="fixed">
		<ul>
			<li class="cart"><a href="">
				<i class="iconfont icon-cart"></i>
				<div>购物车</div>
				<span>0</span>
			</a></li>
			<li class="app"><a href="">
				<i class="iconfont icon-app"></i>
				<div class="app-ma">
					<img src="assets/images/fixed.png" alt="">
					<p>扫码下载魅族商城APP</p>
				</div>
			</a></li>
			<li class="up"><a href="">
				<i class="iconfont icon-less"></i>
				<div>回到顶部</div>
			</a></li>
		</ul>
	</div>
	<!-- 第一个商品区 -->
	<div class="index-container">
		<div class="container1">
			<ul class="container1-content">
				<li>
					<img src="assets/images/container1-1.jpg" alt="">
					<h4>推荐有奖</h4>	
					<p>瓜分百万奖金</p>
				</li>
				<li>
					<img src="assets/images/container1-2.jpg" alt="">
					<h4>魅蓝Note6</h4>	
					<p>高通八核CPU疾速双摄</p>
				</li>
				<li>
					<img src="assets/images/container1-3.jpg" alt="">
					<h4>魅蓝E2</h4>	
					<p>限时特惠100元</p>
				</li>
				<li class="last-con">
					<img src="assets/images/container1-4.jpg" alt="">
					<h4>魅族商城APP</h4>	
					<p>下单满百元 即送百兆流量</p>
				</li>
			</ul>
		</div>
		<!-- 第二商品区 -->
		<div class="container2">
			<img src="assets/images/container2-big.png" alt="">
			<div class="container2-right">
				<ul>
					<li><a href="">
						<img src="assets/images/icon-accessory-1.png" alt="">
						<span>手机</span>
					</a></li>
					<li><a href="">
						<img src="assets/images/icon-accessory-2.png" alt="">
						<span>壳膜套</span>
					</a>
					</li>
					<li><a href="">
						<img src="assets/images/icon-accessory-3.png" alt="">
						<span>数据线</span>
					</a></li>
					<li><a href="">
						<img src="assets/images/icon-accessory-4.png" alt="">
						<span>电源适配器</span>
					</a></li>
					<li><a href="">
						<img src="assets/images/icon-accessory-5.png" alt="">
						<span>数码影音</span>
					</a></li>
					<li><a href="">
						<img src="assets/images/icon-accessory-6.png" alt="">
						<span>智能硬件</span>
					</a></li>
					<li><a href="">
						<img src="assets/images/icon-accessory-7.png" alt="">
						<span>生活周边</span>
					</a></li>
					<li><a href="">
						<img src="assets/images/icon-accessory-8.png" alt="">
						<span>所有分类</span>
					</a></li>
				</ul>
			</div>
		</div>
		<!-- 第三商品区 -->
		<div class="container3">
			<ul>
				<li><a href="">
					<div class="big-phone">
						<img class="after" src="assets/images/after1.png" alt="">
						<img class="before" src="assets/images/before1.png" alt="">
					</div>
					<span class="phone-info">
						<span>魅族PRO7</span>
						<span>新品现货12期免息</span>
						<em>￥2880起</em>
					</span>
				</a></li>
				<li><a href="">
					<div class="big-phone">
						<img class="after" src="assets/images/after2.png" alt="">
						<img class="before" src="assets/images/before2.png" alt="">
					</div>
					<span class="phone-info">
						<span>魅族PRO 7 Plus</span>
						<span>购机享12期免息</span>
						<em>￥3580起</em>
					</span>
				</a></li>
				<li><a href="">
					<div class="big-phone">
						<img class="after" src="assets/images/after3.png" alt="">
						<img class="before" src="assets/images/before3.png" alt="">
					</div>
					<span class="phone-info">
						<span>魅族PRO 6s</span>
						<span>直降200 购机仅需2299元</span>
						<em>￥2299</em>
					</span>
				</a></li>
				<li class="last-li"><a href="">
					<div class="big-phone">
						<img class="after" src="assets/images/after4.png" alt="">
						<img class="before" src="assets/images/before4.png" alt="">
					</div>
					<span class="phone-info">
						<span>魅族PRO 6 Plus</span>
						<span>6期免息 特惠300元</span>
						<em>￥2699起</em>
					</span>
				</a></li>
			</ul>
		</div>
		<!-- 第四商品区 -->
		<div class="container-carousel">
			<div class="carousel-content">
					<ul>
						<!-- ajax -->
					</ul>
			</div>
			<div class="carousel-left">&lt;</div>
			<div class="carousel-right">&gt;</div>
			<ol class="index-pointer">
				<li class="active1"></li>
				<li></li>
				<li></li>
			</ol>
		</div>
		<!-- 第五商品区 -->
		<div class="container5">
			<ul>
				<li><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-1.png">
						<img class="after" src="assets/images/container4-1.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>魅蓝旅行包</span>
						<span>青春正好，即刻出发</span>
						<em>￥269</em>
					</span>
				</a></li>
				<li><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-2.png">
						<img class="after" src="assets/images/container4-2.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>魅族手环</span>
						<span>腕间流动的心率专家</span>
						<em>￥229</em>
					</span>
				</a></li>
				<li class="nth"><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-3.png">
						<img class="after" src="assets/images/container4-3.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>魅族EP51蓝牙运动耳机</span>
						<span>丛林绿/云雾蓝新品开售</span>
						<em>￥229</em>
					</span>
				</a></li>
				<li><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-4.png">
						<img class="after" src="assets/images/container4-4.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>魅篮 休闲旅行双肩包</span>
						<span>曲面一体式 多功能隔层</span>
						<em>￥199</em>
					</span>
				</a></li>
				<li><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-5.png">
						<img class="after" src="assets/images/container4-5.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>魅族EP2X耳机</span>
						<span>契合声音的流动之美</span>
						<em>￥129</em>
					</span>
				</a></li>
				<li><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-6.png">
						<img class="after" src="assets/images/container4-6.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>魅族智能体脂秤</span>
						<span>精准的数字 才是真实的你</span>
						<em>￥168</em>
					</span>
				</a></li>
				<li class="nth"><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-7.png">
						<img class="after" src="assets/images/container4-7.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>魅族盒子一键找回遥控器</span>
						<span>一键找回遥控器</span>
						<em>￥399</em>
					</span>
				</a></li>
				<li><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-8.png">
						<img class="after" src="assets/images/container4-8.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>魅族HD50 头戴式耳机</span>
						<span>清新简洁，有音质更有颜值</span>
						<em>￥399</em>
					</span>
				</a></li>
				<li><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-9.png">
						<img class="after" src="assets/images/container4-9.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>魅族蓝牙小音箱</span>
						<span>好音感 直达心灵</span>
						<em>￥169</em>
					</span>
				</a></li>
				<li><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-10.png">
						<img class="after" src="assets/images/container4-10.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>魅族路由器 极速版</span>
						<span>天生不凡 快狠稳</span>
						<em>￥199</em>
					</span>
				</a></li>
				<li class="nth"><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-11.png">
						<img class="after" src="assets/images/container4-11.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>Hi Case趣闪保护壳</span>
						<span>专为魅蓝E2量身打造</span>
						<em>￥79</em>
					</span>
				</a></li>
				<li><a href="">
					<div class="content-pic">
						<img class="before" src="assets/images/container4-12.png">
						<img class="after" src="assets/images/container4-12.jpg" alt="">
					</div>
					<span class="phone-info">
						<span>魅族 蓝牙通话耳机</span>
						<span>经典小圆点一键集大成</span>
						<em>￥89</em>
					</span>
				</a></li>
			</ul>
		</div>
		<!-- 第六商品区 -->
		<div class="container6">
			<div><a href=""><img src="assets/images/container6-1.jpg" alt=""></a></div>
			<div><a href=""><img src="assets/images/container6-2.jpg" alt=""></a></div>
			<div><a href=""><img src="assets/images/container6-3.jpg" alt=""></a></div>
			<ul>
				<li><a href="">
     				<img src="assets/images/icon-server1.png" alt="">
     				<span>真伪查询</span>
				</a></li>
				<li><a href="">
     				<img src="assets/images/icon-server2.png" alt="">
     				<span>以旧换新</span>
				</a></li>
				<li><a href="">
     				<img src="assets/images/icon-server3.png" alt="">
     				<span>系统下载</span>
				</a></li>
				<li><a href="">
     				<img src="assets/images/icon-server4.png" alt="">
     				<span>注册产品</span>
				</a></li>
				<li><a href="">
     				<img src="assets/images/icon-server5.png" alt="">
     				<span>查找手机</span>
				</a></li>
				<li><a href="">
     				<img src="assets/images/icon-server6.png" alt="">
     				<span>云服务</span>
				</a></li>
				<li><a href="">
     				<img src="assets/images/icon-server7.png" alt="">
     				<span>M码通道</span>
				</a></li>
			</ul>
		</div>
		<!-- 第七商品区 -->
		<div class="container7">
			<div>追求源于热爱</div>
			<p>与千万志同道合的魅友畅快交流</p>
			<a href="">进入社区></a>
			<ul>
				<li class="first-c"><a href="">
					<img src="assets/images/container7-1.jpg">
					<div class="tcp">
						<img src="assets/images/c7-1.jpg" alt="">
						<span>Dimiphantom</span>
						<p>海外媒体眼中的 PRO 7</p>
					</div>
				</a></li>
				<li><a href="">
					<img src="assets/images/container7-2.jpg">
					<div class="tcp">
						<img src="assets/images/c7-2.jpg" alt="">
						<span>笔戈科技</span>
						<p>PRO 7 延时摄影|看尽西藏之美</p>
					</div>
				</a></li>
				<li><a href="">
					<img src="assets/images/container7-3.jpg">
					<div class="tcp">
						<img src="assets/images/c7-3.jpg" alt="">
						<span>王员外可爱多</span>
						<p>PRO 7 双摄成像的秘密</p>
					</div>
				</a></li>
				<li><a href="">
					<img src="assets/images/container7-4.jpg">
					<div class="tcp">
						<img src="assets/images/c7-4.jpg" alt="">
						<span>Dimiphantom</span>
						<p>魅族Flow耳机最昂贵的配件</p>
					</div>
				</a></li>
			</ul>
		</div>
		<!-- 结尾部分 -->
		<div class="footer">
			<div class="footer-link">
				<div class="footer1">
					<ul>
						<li><a href="">
                             <img src="assets/images/untitled1.png">
                             <span>全场包邮</span>
						</a></li>
						<li><a href="">
                             <img src="assets/images/untitled2.png">
                             <span>百城速达</span>
						</a></li>
						<li><a href="">
                             <img src="assets/images/untitled3.png">
                             <span>7天无理由退货</span>
						</a></li>
						<li><a href="">
                             <img src="assets/images/untitled4.png">
                             <span>15天换货保障</span>
						</a></li>
						<li><a href="">
                             <img src="assets/images/untitled5.png">
                             <span>1年免费保修</span>
						</a></li>
						<li><a href="">
                             <img src="assets/images/untitled6.png">
                             <span>2300+线下体验店</span>
						</a></li>
						<li><a href="">
                             <img src="assets/images/untitled7.png">
                             <span>远程支持服务</span>
						</a></li>
						<li><a href="">
                             <img src="assets/images/untitled8.png">
                             <span>上门快降</span>
						</a></li>
					</ul>
					<div class="footer1-right">
						<span>24小时全国服务热线</span>
						<p class="tel">400-788-3333</p>
						<a href=""><img src="assets/images/untitled-footer.png" alt="">在线客服</a>
					</div>
				</div>
				<hr>
				<div class="footer2">
					<div class="footer2-left">
						<ul>
							<li>了解魅族</li>
							<li>加入我们</li>
							<li>联系我们</li>
							<li>Flyme</li>
							<li>魅族社区</li>
							<li>天猫旗舰店</li>
							<li>问题反馈</li>
							<li>线上销售授权名单公示</li>
							<li class="last-a"><span><img src="assets/images/lang-logo.png" alt=""></span>中文</li>
						</ul>
						<div class="left-con">
						&copy;2017 Meizu Telecom Equipment Co. Ltd. All rights reserved.
							<a href="">粤ICP备1300360号</a>
							<a href="">合字B2-20170010</a>
							<a href="">营业执照</a>
							<a href="">法律声明</a>
							<span><i></i>粤公网安备 44049102496009 号</span>
							<a class="con1" href=""><img class="before" src="assets/images/ban1-before.png"><img class="after" src="assets/images/ban1.png" alt=""></a>
							<a class="con2" href=""><img class="before" src="assets/images/ban2-before.png"><img class="after" src="assets/images/ban2.png" alt=""></a>
							<a class="con3" href=""><img class="before" src="assets/images/ban3-before.png"><img class="after" src="assets/images/ban3.png" alt=""></a>
						</div>
					</div>
					<div class="footer2-right">
						
						<a href="">
							<img class="before" src="assets/images/right1-before.png" alt="">
							<img class="after" src="assets/images/right1.png" alt="">
						</a>
						<a class="right-wx" href="">
							<img class="before" src="assets/images/right2-before.png" alt="">
							<img class="after" src="assets/images/right2.png" alt="">
							<p><img class="wx" src="assets/images/wx-code.jpg" alt=""></p>
							
						</a>
						<a href="">
							<img class="before" src="assets/images/right3-before.png" alt="">
							<img class="after" src="assets/images/right3.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/index.js"></script>
	<script src="assets/js/jquery.js"></script>
	<script src="node_modules/vue/dist/vue.min.js"></script>
	<script src="assets/js/indexVue.js"></script>
</body>
</html>