@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  min-width: 1240px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/*轮播图*/
.container-carousel {
  position: relative;
  width: 1345px;
  height: 680px;
  overflow: hidden;
}

.container-carousel .carousel {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 9999px;
}

.container-carousel .carousel li {
  float: left;
  width: 1345px;
  height: 680px;
  background-position: center 0;
}

.container-carousel .carousel .car1 {
  background-image: url(../images/carousel1.jpg);
}

.container-carousel .carousel .car2 {
  background-image: url(../images/carousel2.jpg);
}

.container-carousel .carousel .car3 {
  background-image: url(../images/carousel3.jpg);
}

.container-carousel .carousel .car4 {
  background-image: url(../images/carousel4.jpg);
}

.container-carousel .carousel .car5 {
  background-image: url(../images/carousel5.jpg);
}

.container-carousel .carousel-index {
  position: absolute;
  bottom: 20px;
  left: 50%;
  right: 0;
  width: 500px;
  height: 20px;
  padding: 0 10px;
  text-align: center;
  margin-left: -260px;
}

.container-carousel .carousel-index li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px 12px;
  background-color: #fff;
  border-radius: 50%;
}

.container-carousel .carousel-index li.active {
  background-color: transparent;
  border: 1px solid #fff;
}

.container-banner {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 1240px;
  height: 75px;
  line-height: 75px;
  background-color: transparent;
}

.container-banner .img > img {
  float: left;
  margin: 25px 50px;
  display: none;
}

.container-banner .img > img.active {
  display: block;
}

.container-banner .header {
  float: right;
  margin: 0 50px;
  display: inline-block;
}

.container-banner .header li {
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding: 0 15px;
  vertical-align: middle;
  height: 75px;
}

.container-banner .header li a {
  color: #fff;
}

.container-banner .header li img {
  margin-top: 25px;
}

.container-banner .header li:hover a {
  color: #00c3f5;
}

.container-banner .header .cart-logo {
  position: relative;
}

.container-banner .header .cart-logo span {
  position: absolute;
  top: -10px;
  left: 23px;
  color: red;
  font-size: 12px;
  font-weight: 100;
}

.container-banner .header .login {
  position: relative;
}

.container-banner .header .login .login-content {
  position: absolute;
  top: 64px;
  left: -20px;
  width: 98px;
  display: none;
  font-size: 12px;
  border-radius: 2px;
  text-align: center;
  padding: 15px 0;
  color: #000;
  background-color: #fff;
}

.container-banner .header .login .login-content > li {
  height: 40px;
  line-height: 40px;
}

.container-banner .header .login .login-content > li a {
  color: #000;
}

.container-banner .header .login span {
  position: absolute;
  top: 54px;
  left: 25px;
  display: none;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}

.container-banner .header .login:hover span {
  display: block;
}

.container-banner .header .login:hover .login-content {
  display: block;
}

.container-banner .header .cart-logo .cart-add {
  position: absolute;
  top: 55px;
  right: -10px;
  display: none;
  width: 300px;
  height: 120px;
  background-color: #fff;
  border-radius: 2px;
}

.container-banner .header .cart-logo .cart-add img {
  float: left;
  margin-top: 40px;
  margin-left: 40px;
  vertical-align: center;
}

.container-banner .header .cart-logo .cart-add > div {
  float: left;
  line-height: 100px;
  margin-left: 20px;
}

.container-banner .header .cart-logo .cart-add > div p {
  height: 20px;
  font-size: 12px;
  color: #999;
}

.container-banner .header .cart-logo:hover .cart-add {
  display: block;
}

.container-banner .header .cart-logo > p {
  position: absolute;
  top: 42px;
  right: 20px;
  display: none;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

.container-banner .header .cart-logo:hover p {
  display: block;
}

.container-banner .run-detail {
  position: absolute;
  top: 75px;
  left: 0;
  display: none;
  width: 112.53%;
  margin-left: -100px;
  height: 150px;
  background-color: #fff;
  z-index: 9999;
  overflow: hidden;
}

.container-banner .run-detail div {
  position: absolute;
  top: 0;
  left: 0;
}

.container-banner .run-detail div .item {
  width: 1240px;
  margin: 0 auto;
}

.container-banner .run-detail div .item ul li {
  float: left;
  padding: 5px 8px 20px;
  width: 136px;
  height: 132px;
  text-align: center;
}

.container-banner .run-detail div .item ul li a {
  display: line-block;
  width: 80px;
  padding: 5px;
}

.container-banner .run-detail div .item ul li a img {
  /*height:70%;*/
  width: auto;
  width: 70px;
  margin: 0 auto;
  vertical-align: top;
}

.container-banner .run-detail div .item ul li a p {
  color: #333;
  margin: 10px 0 3px -9px;
  line-height: 15px;
  width: 154px;
  font-size: 12px;
  text-align: center;
}

.container-banner .run-detail div .item ul li a .p2 {
  color: #666;
}

.container-banner .run-detail .run-detail1 .item ul {
  position: relative;
  left: 50%;
  margin-left: -250px;
}

.container-banner .run-detail .run-detail2 .item ul {
  position: relative;
  left: 50%;
  margin-left: -530px;
}

.container-banner .run-detail .run-detail4 .item ul {
  position: relative;
  left: 50%;
  margin-left: -530px;
}

.container-banner .run-detail .run-detail3 .item ul {
  position: relative;
  left: 50%;
  margin-left: -450px;
}

.index-container {
  width: 100%;
  height: auto;
}

.index-container .container1 {
  width: 100%;
  height: 380px;
}

.index-container .container1 .container1-content {
  width: 1240px;
  height: 300px;
  margin: 0 80px;
}

.index-container .container1 .container1-content li {
  float: left;
  text-align: center;
  margin-right: 190px;
  margin-top: 80px;
}

.index-container .container1 .container1-content li p {
  font-size: 14px;
  color: #999;
}

.index-container .container1 .container1-content li h4 {
  font-size: 20px;
  color: #515151;
}

.index-container .container1 .container1-content .last-con {
  margin-right: 0;
}

.index-container .container2 {
  position: relative;
  width: 100%;
  height: 380px;
  background-color: #f7f7f7;
}

.index-container .container2 > img {
  position: absolute;
  bottom: 0;
  left: 55px;
  float: left;
}

.index-container .container2 .container2-right {
  float: right;
  width: 50%;
  height: 380px;
}

.index-container .container2 .container2-right ul {
  padding-top: 90px;
}

.index-container .container2 .container2-right ul li {
  float: left;
  width: 25%;
  height: 135px;
  text-align: center;
}

.index-container .container2 .container2-right ul li span {
  display: block;
  margin-top: 5px;
  color: #515151;
  font-size: 14px;
}

.index-container .container3 {
  width: 100%;
  height: 520px;
  padding-top: 120px;
}

.index-container .container3 > ul {
  width: 1240px;
  height: 420px;
  margin: 0 auto;
}

.index-container .container3 > ul li {
  float: left;
  text-align: center;
  margin-right: 125px;
}

.index-container .container3 > ul li .big-phone {
  position: relative;
  width: 208px;
  height: 435px;
  margin: 0 auto;
}

.index-container .container3 > ul li .big-phone .after {
  position: absolute;
  top: 0;
  left: 0;
}

.index-container .container3 > ul li .big-phone .before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.index-container .container3 > ul li .phone-info > span {
  margin-bottom: 4px;
  line-height: 20px;
}

.index-container .container3 > ul li .phone-info > em {
  padding-top: 2px;
  color: #f0415f;
  text-indent: -5px;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

.index-container .container3 > ul .last-li {
  margin-right: 0;
}

.index-container .container3 span {
  display: block;
  font-size: 14px;
  color: #666;
}

.index-container .phone-info > span {
  margin-bottom: 4px;
  line-height: 20px;
}

.index-container .phone-info > em {
  padding-top: 2px;
  color: #f0415f;
  text-indent: -5px;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

.index-container .container-carousel {
  position: relative;
  width: 1345px;
  height: 460px;
  overflow: hidden;
  padding: 64px 0 50px;
  border-bottom: 1px solid #999;
}

.index-container .container5 {
  padding-top: 104px;
  height: 1180px;
  overflow: hidden;
}

.index-container .container5 > ul {
  width: 1260px;
  height: 1200px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.index-container .container5 > ul li {
  position: relative;
  text-align: center;
  float: left;
  width: 312px;
  margin-bottom: 80px;
}

.index-container .container5 > ul li a {
  display: inline-block;
}

.index-container .container5 > ul li span {
  display: block;
  font-size: 14px;
  color: #515151;
}

.index-container .container5 > ul li .content-pic > .after {
  position: absolute;
  top: 0;
  left: 50px;
  width: 208px;
  display: none;
  border-radius: 5px;
}

.index-container .container6 {
  width: 100%;
  height: 500px;
  margin-top: 0;
}

.index-container .container6 div {
  float: left;
  width: 33.3%;
  height: 280px;
  overflow: hidden;
}

.index-container .container6 div a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.index-container .container6 div a img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 640px;
  margin-left: -320px;
}

.index-container .container6 ul {
  width: 100%;
  height: 220px;
  min-width: 1345px;
  text-align: center;
}

.index-container .container6 ul li {
  float: left;
  padding: 70px 63px;
  text-align: center;
}

.index-container .container6 ul li span {
  display: block;
  height: 20px;
  font-size: 14px;
  color: #515151;
}

.index-container .container7 {
  width: 100%;
  height: 560px;
  min-width: 1345px;
  padding-top: 70px;
  text-align: center;
  background-color: #f4f4f4;
}

.index-container .container7 div {
  font-weight: 400;
  font-size: 36px;
}

.index-container .container7 p {
  font-size: 14px;
  padding: 20px 0;
  color: #999;
  display: inline-block;
}

.index-container .container7 a {
  font-size: 14px;
  padding: 20px 0;
  color: #2fb9f2;
  display: inline-block;
}

.index-container .container7 ul li {
  position: relative;
  float: left;
  margin-right: 20px;
}

.index-container .container7 ul li div {
  position: absolute;
  bottom: 0;
  left: 10px;
  text-align: left;
}

.index-container .container7 ul li div img {
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.index-container .container7 ul li div span {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  vertical-align: middle;
}

.index-container .container7 ul li div p {
  font-size: 18px;
  color: #fff;
}

.index-container .container7 ul .first-c {
  margin-left: 65px;
}

.index-container .footer {
  width: 100%;
  height: 280px;
}

.index-container .footer .footer-link {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}

.index-container .footer .footer-link .footer1 > ul {
  float: left;
  width: 1000px;
  margin: 50px 45px 0;
}

.index-container .footer .footer-link .footer1 > ul li {
  float: left;
  width: 240px;
  height: 58px;
  font-size: 14px;
}

.index-container .footer .footer-link .footer1 > ul li img {
  vertical-align: middle;
}

.index-container .footer .footer-link .footer1 > ul li span {
  color: #515151;
}

.index-container .footer .footer-link .footer1 .footer1-right {
  float: right;
  text-align: right;
  margin: -120px 45px 0;
}

.index-container .footer .footer-link .footer1 .footer1-right span {
  font-size: 14px;
  color: #515151;
}

.index-container .footer .footer-link .footer1 .footer1-right p {
  font-size: 20px;
  color: #00c3f5;
  font-weight: 400px;
  padding: 3px 0;
}

.index-container .footer .footer-link .footer1 .footer1-right > a {
  display: block;
  width: 100px;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #fff;
  padding: 0 20px;
  background-color: #00c3f5;
  border-radius: 3px;
}

.index-container .footer .footer-link .footer1 .footer1-right > a img {
  text-align: left;
  vertical-align: middle;
  margin-right: 20px;
}

.index-container .footer .footer-link hr {
  clear: both;
  display: block;
  height: 1px;
  border-top: 1px solid #eee;
  width: 1240px;
  font-size: 14px;
  margin: 0 auto;
  color: #515151;
}

.index-container .footer .footer-link .footer2 {
  margin-left: 45px;
  margin-top: 10px;
  padding: 25px 0 20px;
}

.index-container .footer .footer-link .footer2 .footer2-left {
  float: left;
  width: 980px;
}

.index-container .footer .footer-link .footer2 .footer2-left li {
  float: left;
  font-size: 13px;
  color: #515151;
  margin-right: 10px;
}

.index-container .footer .footer-link .footer2 .footer2-left li::after {
  content: "|";
  margin: 0 10px;
}

.index-container .footer .footer-link .footer2 .footer2-left .last-a::after {
  content: "";
}

.index-container .footer .footer-link .footer2 .footer2-left .last-a img {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}

.index-container .footer .footer-link .footer2 .footer2-left .left-con {
  clear: both;
  font-size: 13px;
  color: #515151;
  margin-top: 30px;
}

.index-container .footer .footer-link .footer2 .footer2-left .left-con .con1, .index-container .footer .footer-link .footer2 .footer2-left .left-con .con2, .index-container .footer .footer-link .footer2 .footer2-left .left-con .con3 {
  position: relative;
  color: #515151;
  margin-right: 25px;
}

.index-container .footer .footer-link .footer2 .footer2-left .left-con .con1 {
  margin-left: 5px;
}

.index-container .footer .footer-link .footer2 .footer2-left .left-con a {
  color: #515151;
}

.index-container .footer .footer-link .footer2 .footer2-left .left-con a:hover {
  color: #00d3f5;
}

.index-container .footer .footer-link .footer2 .footer2-right {
  float: right;
  width: 150px;
  margin-top: 18px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.index-container .footer .footer-link .footer2 .footer2-right a {
  position: relative;
  margin-right: 50px;
}

.index-container .footer .footer-link .footer2 .footer2-right a p {
  float: left;
  margin-top: -160px;
  margin-left: -10px;
  z-index: 55;
  display: none;
}

.index-container .footer .footer-link .footer2 .footer2-right a p img {
  display: inline-block;
  width: 130px;
  height: 130px;
}

.index-container .footer .footer-link .footer2 .footer2-right a .before {
  position: absolute;
  top: 0;
  left: 0;
}

.index-container .footer .footer-link .footer2 .footer2-right a .after {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.container5 li:nth-child(3),
.container5 li:nth-child(7),
.container5 li:nth-child(11) {
  margin-right: 10px;
}

.left-con .con1 .before,
.left-con .con2 .before,
.left-con .con3 .before {
  position: absolute;
  top: 0;
  left: 0;
}

.left-con .con1 .after,
.left-con .con2 .after,
.left-con .con3 .after {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/*顶部隐层的导航栏*/
.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: none;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 9999;
  overflow: hidden;
}

.nav-header ul {
  width: 1240px;
  margin-left: 200px;
}

.nav-header ul li {
  position: relative;
  float: left;
  height: 70px;
  line-height: 70px;
  margin-right: 46px;
  color: #333;
  font-size: 14px;
}

.nav-header ul li a {
  color: #333;
}

.nav-header ul li a i {
  position: absolute;
  left: 0;
  bottom: 15px;
  display: none;
  height: 2px;
  width: 100%;
  background-color: #00c3f5;
}

.nav-header ul li a:hover i {
  display: block;
}

.fixed {
  position: fixed;
  z-index: 9999;
  bottom: 100px;
  right: -90px;
  width: 150px;
  z-index: 9999;
  color: #fff;
  font-weight: 400;
  display: none;
}

.fixed ul li {
  position: relative;
  right: 0;
  line-height: 50px;
  background-color: #d8d8d8;
  margin-bottom: 1px;
  border-bottom: 1px solid #ddd;
  background-color: #d8d8d8;
  color: #fff;
  padding: 5px 10px;
}

.fixed ul li i {
  display: inline-block;
  font-size: 24px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: 5px;
  color: #fff;
}

.fixed ul li div {
  display: inline-block;
  font-size: 12px;
  color: #fff;
}

.fixed ul .cart span {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 32px;
  width: 12px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  background-color: red;
  color: #fff;
  border-radius: 50%;
}

.fixed ul .cart div {
  margin-left: -10px;
}

.fixed ul .app div {
  position: absolute;
  left: -170px;
  bottom: 0;
  text-align: center;
  display: none;
  width: 170px;
  margin: 0 auto;
  background-color: #a39a9a;
}

.fixed ul .app div img {
  display: inline-block;
  width: 150px;
  margin-top: 10px;
}

.fixed ul .app div p {
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: -5px;
  background-color: #a39a9a;
}

.carousel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 9999px;
  margin: 0 auto;
  padding: 64px 0 50px;
}

.carousel-content ul {
  overflow: hidden;
  width: 9999px;
  height: 360px;
  margin: 0 auto;
  padding-left: 40px;
}

.carousel-content ul li {
  float: left;
  margin-right: 20px;
  text-align: center;
}

.carousel-content ul li img {
  width: 280px;
}

.carousel-content ul li span {
  width: 280px;
  display: block;
  font-size: 14px;
  color: #666;
}

.carousel-content ul li:nth-child(1) {
  margin-left: 50px;
}

.carousel-content ul li:nth-child(5),
.carousel-content ul li:nth-child(9) {
  margin-left: 140px;
}

.index-pointer {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: auto;
  width: 75px;
}

.index-pointer li {
  float: left;
  width: 8px;
  height: 8px;
  line-height: 15px;
  text-align: center;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin: 0 5px;
}

.index-pointer li.active1 {
  background-color: #333;
}

.carousel-left {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.carousel-right {
  position: absolute;
  top: 200px;
  right: 100px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
